<div class="card card-outline-info b-all">
    <div class="card-header">
        <strong class="m-b-0 text-white">{{ titulo }}</strong>
    </div>
    <div class="card-body p-0">
        <div class="row m-0">
            <div class="col-12 b-b mt-3">
                <h3 class="text-info"> {{ proyectos }} Proyectos</h3>
            </div>

            <div class="col-md-12 col-12 mt-4 mb-4 b-r">
                <h5>{{ recibidos }} recibidos<span class="pull-right">{{ recibidosPrc }}</span></h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                        [ngStyle]="{'width': recibidosPrc, 'height': '6px'}" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>

                <h5 class="mt-4">{{ evaluados }} evaluados<span class="pull-right">{{ evaluadosPrc }}</span></h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                        [ngStyle]="{'width': evaluadosPrc, 'height': '6px'}" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-md-4 col-12 mb-4">
                <i class="mdi mdi-brightness-1 text-success"></i>
                <span class="mr-2"> 16 Ene</span> <br>
                <strong><small>Prel.</small></strong>
            </div>

            <div class="col-md-4 col-12">
                <i class="mdi mdi-brightness-1 text-danger"></i>
                <span class="mr-2"> 26 Feb</span> <br>
                <strong><small>A. sector</small></strong>
            </div>
            <div class="col-md-4 col-12">
                <i class="mdi mdi-brightness-1 text-success"></i>
                <span class="mr-2"> 26 Mar</span> <br>
                <strong><small>Final</small></strong>
            </div>

        </div>
    </div>
</div>