


  <div class="card">
    <div class="card-body collapse show">
  
        <div class="tab-content">
            <div class="tab-pane fade show active" >            
                <div [formGroup]="formUsuario" (ngSubmit)="registarUsuario()">                 
                    <h2>Datos de Usuario</h2>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Nombre </label>
                      <div class="col-sm-10">
                          <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre del usuario" (focus)="invalido = false">
                          <div class="pt-1 text-danger" *ngIf="invalid('nombre')">
                              <span class="form-control-feedback">
                                  <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                              </span>
                          </div>
                      </div>
                  </div>

                <div *ngIf="!actualizar" >
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Correo </label>
                    <div class="col-sm-10">
                        <input formControlName="correo" type="text" class="form-control" placeholder="Correo" (focus)="invalido = false" >
                        <div class="pt-1 text-danger" *ngIf="invalid('correo')">
                            <span class="form-control-feedback">
                                <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                            </span>
                        </div>
                    </div>
                  </div>
                </div>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Perfil </label>

                    <div class="form-check">
                        <input formControlName="perfil" class="form-check-input" type="radio" name="perfil" id="exampleRadios1" value="ADMIN_PERFIL" (focus)="invalido = false" >
                        <label class="form-check-label" for="exampleRadios1">
                            ADMIN_PERFIL
                        </label>
                      </div>
                      <div class="form-check">
                        <input formControlName="perfil" class="form-check-input" type="radio" name="perfil" id="exampleRadios2" value="USER_PERFIL" (focus)="invalido = false">
                        <label class="form-check-label" for="exampleRadios2">
                            USER_PERFIL
                        </label>
                      </div>
                  </div>

                  <div *ngIf="!actualizar" >
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" (focus)="invalido = false">
                        <div class="pt-1 text-danger" *ngIf="invalid('password')">
                            <span class="form-control-feedback">
                                <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                            </span>
                        </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="!actualizar" >
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Validar Contraseña</label>
                    <div class="col-sm-10">
                        <input formControlName="vpassword" type="password" class="form-control" placeholder="Validar Contraseña" (focus)="invalido = false">
                        <div class="pt-1 text-danger" *ngIf="invalid('vpassword')">
                            <span class="form-control-feedback">
                                <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <p class="text-danger" *ngIf="passiguales">
                                Contraseñas no son <strong>iguales.</strong></p>
                        </div>
                    </div>
                  </div>
                </div>


                  <div class="form-group">
                      <p class="text-danger" *ngIf="invalido">
                          Ingresar campos <strong>requeridos.</strong></p>
                  </div>
                  


                  </div>
                  
  
                
            </div>
          
        </div>
    </div>
  </div>
  
  <button class="right-side-toggle waves-effect waves-light btn btn-primary btn-circle btn-sm" type="submit" (click)="registarUsuario()">
    <i class="fa fa-save no-animation"></i>
  </button>