<div class="form-group row">
  <label class="col-sm-2">Prioridad coincide con politica del sector? </label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="jurisdiccionOptions" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="jurisdiccionOptions" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario."></textarea>
    </div>
  </div>
</div>
<hr>
<h2>Riesgo</h2>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Diseño Tecnico</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="DisenoOptions" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Bajo</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="DisenoOptions" id="inlineCheckbox4" value="option4">
      <label class="form-check-label" for="inlineCheckbox4">Medio</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="DisenoOptions" id="inlineCheckbox5" value="option5">
      <label class="form-check-label" for="inlineCheckbox5">Alto</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario."></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Demanda</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="DemandaOptions" id="inlineCheckbox6" value="option6">
      <label class="form-check-label" for="inlineCheckbox6">Bajo</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="DemandaOptions" id="inlineCheckbox7" value="option7">
      <label class="form-check-label" for="inlineCheckbox7">Medio</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="DemandaOptions" id="inlineCheckbox8" value="option8">
      <label class="form-check-label" for="inlineCheckbox8">Alto</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario."></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Socioambiental</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="SocioambientalOptions" id="inlineCheckbox9" value="option9">
      <label class="form-check-label" for="inlineCheckbox9">Bajo</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="SocioambientalOptions" id="inlineCheckbox10" value="option10">
      <label class="form-check-label" for="inlineCheckbox10">Medio</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="SocioambientalOptions" id="inlineCheckbox11" value="option11">
      <label class="form-check-label" for="inlineCheckbox11">Alto</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario."></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Político</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="PoliticoOptions" id="inlineCheckbox12" value="option12">
      <label class="form-check-label" for="inlineCheckbox12">Bajo</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="PoliticoOptions" id="inlineCheckbox13" value="option13">
      <label class="form-check-label" for="inlineCheckbox13">Medio</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="PoliticoOptions" id="inlineCheckbox14" value="option14">
      <label class="form-check-label" for="inlineCheckbox14">Alto</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario."></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Otros</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="OtrosOptions" id="inlineCheckbox15" value="option15">
      <label class="form-check-label" for="inlineCheckbox15">Bajo</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="OtrosOptions" id="inlineCheckbox16" value="option16">
      <label class="form-check-label" for="inlineCheckbox16">Medio</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="OtrosOptions" id="inlineCheckbox17" value="option17">
      <label class="form-check-label" for="inlineCheckbox17">Alto</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario."></textarea>
    </div>
  </div>
</div>
<hr>
<h2>Concordancia productiva</h2>
<div class="form-group row">

  <label for="inputEmail3" class="col-sm-2 col-form-label">Minería</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="MineriaOptions" id="inlineCheckbox18" value="option18">
      <label class="form-check-label" for="inlineCheckbox18">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="MineriaOptions" id="inlineCheckbox19" value="option19">
      <label class="form-check-label" for="inlineCheckbox19">No</label>
    </div>

    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Agricultura</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="AgriculturaOptions" id="inlineCheckbox20" value="option20">
      <label class="form-check-label" for="inlineCheckbox20">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="AgriculturaOptions" id="inlineCheckbox21" value="option21">
      <label class="form-check-label" for="inlineCheckbox21">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Pesca</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="PescaOptions" id="inlineCheckbox22" value="option22">
      <label class="form-check-label" for="inlineCheckbox22">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="PescaOptions" id="inlineCheckbox23" value="option23">
      <label class="form-check-label" for="inlineCheckbox23">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Industria</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="IndustriaOptions" id="inlineCheckbox24" value="option24">
      <label class="form-check-label" for="inlineCheckbox24">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="IndustriaOptions" id="inlineCheckbox25" value="option25">
      <label class="form-check-label" for="inlineCheckbox25">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Otros</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="OtrosOptions02" id="inlineCheckbox26" value="option26">
      <label class="form-check-label" for="inlineCheckbox26">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="OtrosOptions02" id="inlineCheckbox27" value="option27">
      <label class="form-check-label" for="inlineCheckbox27">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<hr>
<h2>Concordancia social</h2>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Transporte</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TransporteOptions" id="inlineCheckbox28" value="option28">
      <label class="form-check-label" for="inlineCheckbox28">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TransporteOptions" id="inlineCheckbox29" value="option29">
      <label class="form-check-label" for="inlineCheckbox29">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Telecom.</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TelecomOptions" id="inlineCheckbox30" value="option30">
      <label class="form-check-label" for="inlineCheckbox30">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="TelecomOptions" id="inlineCheckbox31" value="option31">
      <label class="form-check-label" for="inlineCheckbox31">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Energía</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="EnergiaOptions" id="inlineCheckbox32" value="option32">
      <label class="form-check-label" for="inlineCheckbox22">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="EnergiaOptions" id="inlineCheckbox33" value="option33">
      <label class="form-check-label" for="inlineCheckbox23">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Agua y Saneam.</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="AguaySaneamOptions" id="inlineCheckbox34" value="option34">
      <label class="form-check-label" for="inlineCheckbox34">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="AguaySaneamOptions" id="inlineCheckbox35" value="option35">
      <label class="form-check-label" for="inlineCheckbox35">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Riego</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="RiegoOptions" id="inlineCheckbox36" value="option36">
      <label class="form-check-label" for="inlineCheckbox36">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="RiegoOptions" id="inlineCheckbox37" value="option37">
      <label class="form-check-label" for="inlineCheckbox37">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Educación</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="EducacionOptions" id="inlineCheckbox38" value="option38">
      <label class="form-check-label" for="inlineCheckbox38">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="EducacionOptions" id="inlineCheckbox39" value="option39">
      <label class="form-check-label" for="inlineCheckbox39">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Salud</label>
  <div class="col-sm-10">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="SaludOptions" id="inlineCheckbox40" value="option40">
      <label class="form-check-label" for="inlineCheckbox40">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="SaludOptions" id="inlineCheckbox41" value="option41">
      <label class="form-check-label" for="inlineCheckbox41">No</label>
    </div>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Ingrese un comentario." rows="3"></textarea>
    </div>
  </div>
</div>