<div [formGroup]="registradaForm">
  <div class="form-group row">
    <label class="col-sm-2">Prioridad coincide con politica del sector? </label>
    <div class="col-sm-10">
      <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
          <input formControlName="prio_politica_sect" class="form-check-input" type="radio" [id]="'prio_' + i" [value]="pp.nombre">
          <label class="form-check-label" [for]="'prio_' + i">{{pp.alias}}</label>
      </div>
      <textarea formControlName="prio_politica_sect_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario."></textarea>
    </div>
  </div>

  <div class="col-12 b-b">
    <h5><span>RIESGO</span></h5>
  </div>
  
  <div class="col-12 mt-4">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Diseño Tecnico</label>
      <div class="col-sm-10">
        <div *ngFor="let pr of prioridad_riesgo; let i=index" class="form-check form-check-inline">
          <input formControlName="riesgo_dis_tec" class="form-check-input" type="radio" [id]="'dist_' + i" [value]="pr.nombre">
          <label class="form-check-label" [for]="'dist_' + i">{{pr.alias}}</label>
        </div>
        <textarea formControlName="riesgo_dis_tec_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario."></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Demanda considerada</label>
      <div class="col-sm-10">
        <div *ngFor="let pr of prioridad_riesgo; let i=index" class="form-check form-check-inline">
          <input formControlName="riesgo_dis_deman" class="form-check-input" type="radio" [id]="'deman_' + i" [value]="pr.nombre">
          <label class="form-check-label" [for]="'deman_' + i">{{pr.alias}}</label>
        </div>
        <textarea formControlName="riesgo_dis_deman_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario."></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Socioambientales</label>
      <div class="col-sm-10">
        <div *ngFor="let pr of prioridad_riesgo; let i=index" class="form-check form-check-inline">
          <input formControlName="riesgo_socioamb" class="form-check-input" type="radio" [id]="'soc_' + i" [value]="pr.nombre">
          <label class="form-check-label" [for]="'soc_' + i">{{pr.alias}}</label>
        </div>
        <textarea formControlName="riesgo_socioamb_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario."></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Políticos</label>
      <div class="col-sm-10">
        <div *ngFor="let pr of prioridad_riesgo; let i=index" class="form-check form-check-inline">
          <input formControlName="riesgo_politico" class="form-check-input" type="radio" [id]="'pol_' + i" [value]="pr.nombre">
          <label class="form-check-label" [for]="'pol_' + i">{{pr.alias}}</label>
        </div>
        <textarea formControlName="riesgo_politico_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario."></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Institucionales</label>
      <div class="col-sm-10">
        <div *ngFor="let pr of prioridad_riesgo; let i=index" class="form-check form-check-inline">
          <input formControlName="riesgo_institucional" class="form-check-input" type="radio" [id]="'ins_' + i" [value]="pr.nombre">
          <label class="form-check-label" [for]="'ins_' + i">{{pr.alias}}</label>
        </div>
        <textarea formControlName="riesgo_institucional_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario."></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Otros</label>
      <div class="col-sm-10">
        <div *ngFor="let pr of prioridad_riesgo; let i=index" class="form-check form-check-inline">
          <input formControlName="riesgo_otros" class="form-check-input" type="radio" [id]="'otr1_' + i" [value]="pr.nombre">
          <label class="form-check-label" [for]="'otr1_' + i">{{pr.alias}}</label>
        </div>
        <textarea formControlName="riesgo_otros_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario."></textarea>
      </div>
    </div>
  </div>
  
  <div class="col-12 b-b">
    <h5><span>CONCORDANCIA PRODUCTIVA</span></h5>
  </div>

  <div class="col-12 mt-4">
    <div class="form-group row">
      <label class="col-sm-2">Minería</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="productiva_mineria" class="form-check-input" type="radio" [id]="'min_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'min_' + i">{{pp.alias}}</label>
        </div>
        <div class="mb-3">
          <textarea formControlName="productiva_mineria_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Agricultura</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="productiva_agri" class="form-check-input" type="radio" [id]="'agr_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'agr_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="productiva_agri_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Pesca</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="productiva_pesca" class="form-check-input" type="radio" [id]="'pes_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'pes_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="productiva_pesca_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Industria</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="productiva_indus" class="form-check-input" type="radio" [id]="'ind_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'ind_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="productiva_indus_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Otros</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="productiva_otros" class="form-check-input" type="radio" [id]="'otr2_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'otr2_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="productiva_otros_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
  </div>

  <div class="col-12 b-b">
    <h5><span>CONCORDANCIA SOCIAL</span></h5>
  </div>
  
  <div class="col-12 mt-4">
    <div class="form-group row">
      <label class="col-sm-2">Transporte</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="social_trans" class="form-check-input" type="radio" [id]="'tra_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'tra_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="social_trans_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Telecomunicación</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="social_telco" class="form-check-input" type="radio" [id]="'tel_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'tel_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="social_telco_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Agua y Saneamiento</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="social_agua" class="form-check-input" type="radio" [id]="'agu_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'agu_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="social_agua_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Riego</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="social_riego" class="form-check-input" type="radio" [id]="'rie_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'rie_' + i">{{pp.alias}}</label>
        </div>
        <div class="mb-3">
          <textarea formControlName="social_riego_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Educación</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="social_educa" class="form-check-input" type="radio" [id]="'edu_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'edu_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="social_educa_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Salud</label>
      <div class="col-sm-10">
        <div *ngFor="let pp of prioridad_politica; let i=index" class="form-check form-check-inline">
            <input formControlName="social_salud" class="form-check-input" type="radio" [id]="'sal_' + i" [value]="pp.nombre">
            <label class="form-check-label" [for]="'sal_' + i">{{pp.alias}}</label>
        </div>
        <textarea formControlName="social_salud_comentario" class="form-control" rows="3" placeholder="Ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Síntesis de la evaluación del proyecto</label>
        <div class="col-sm-10">
            <textarea formControlName="sintesis_evaluacion" class="form-control" rows="4" placeholder="Síntesis de la evaluación del proyecto"></textarea>
        </div>
    </div>
  </div>
</div>