<div class="row">
  <div class="col-12">
    <div class="vtabs b-all w-100">
      <ul class="nav nav-tabs tabs-vertical" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home4" role="tab"
            aria-expanded="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span
              class="hidden-xs-down">Ubicar</span> </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile4" role="tab"
            aria-expanded="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
              class="hidden-xs-down">Subir archivo</span></a> </li>
      </ul>
      <div class="tab-content p-0">
        
        <div class="tab-pane active" id="home4" role="tabpanel">
          <div class="row">
            <div class="col-6">
                <div class="m-2">
                    <input name="group1" type="radio" id="radio_1" checked="">
                    <label for="radio_1" class="mb-0 pr-4" style="font-size: 0.8em"><i class="ti ti-pin-alt"></i> Punto GPS</label>
                    <input name="group1" type="radio" id="radio_2">
                    <label for="radio_2"  class="m-b-0" style="font-size: 0.8em"><i class="ti ti-vector"></i> Polígono</label>
                </div>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-sm btn-outline-secondary m-2"><i class="ti ti-eraser"></i> Limpiar</button>
            </div>
            <div class="col-12">
              <div id="map" class="w-100" style="min-height: 300px;"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane p-20" id="profile4" role="tabpanel" aria-expanded="false">2</div>
      </div>
    </div>
  </div>
</div>