<div class="card">
  <div class="card-body">
    
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="text-center">Preliminar <br> <strong>15 Abril</strong></th>
          <th class="text-center">Ajustado <br> <strong>14 Junio</strong></th>
          <th class="text-center">Final <br> <strong>21 Junio</strong></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><strong>Transporte</strong></td>
          <td> <app-card-proyecto titulo="15 Abr" css="text-success" icon="mdi-check-circle" href='1557211451641.pdf'></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Agua y Saneamiento</strong></td>
          <td> <app-card-proyecto titulo="15 Abr" css="text-success" icon="mdi-check-circle" href='1557211631659.pdf'></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Energía</strong></td>
          <td> <app-card-proyecto titulo="15 Abr" css="text-success" icon="mdi-check-circle" href='1557211109176.pdf'></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Telecomunicaciones</strong></td>
          <td> <app-card-proyecto titulo="12 Abr" css="text-success" icon="mdi-check-circle" href='1557211605639.pdf'></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Riego</strong></td>
          <td> <app-card-proyecto titulo="15 Abr" css="text-success" icon="mdi-check-circle" href='1555476199671.pdf'></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Salud</strong></td>
          <td> <app-card-proyecto href="1557211157778.pdf" titulo="30 Abr" css="text-success" icon="mdi-check-circle"></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Educación</strong></td>
          <td> <app-card-proyecto href="1557211535283.pdf" titulo="30 Abr" css="text-success" icon="mdi-check-circle"></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
  
