<div class="card">
  <div class="card-body">
    
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="text-center">Preliminar <br> <strong>15 Abril</strong></th>
          <th class="text-center">Ajustado <br> <strong>14 Junio</strong></th>
          <th class="text-center">Final <br> <strong>21 Junio</strong></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><strong>Transporte y telecomunicaciones</strong></td>
          <td> <app-card-proyecto titulo="4 Abr" css="text-success" icon="mdi-check-circle" href='1554568059369.pdf'></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Agua y Saneamiento</strong></td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Energía</strong></td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Riego</strong></td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Salud</strong></td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
        <tr>
          <td><strong>Educación</strong></td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
          <td> <app-card-proyecto></app-card-proyecto> </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
  
