<div class="card">
    <div class="card-body">

        <div [formGroup]="filtroForm" class="pt-2 pb-4">
            <div class="row">
                <div class="form-group col-md-4 col-12">
                    <label>Sector</label>
                    <select formControlName="sector_nivel_1" class="form-control">
                        <option value="">-- Todos --</option>
                        <option *ngFor="let s1 of sector_1" [value]="s1.nombre">{{s1.alias}}</option>
                    </select>
                </div>

                <div class="form-group col-md-3 col-12">
                    <label>Programa</label>
                    <input formControlName="nombre_programa" type="text" class="form-control" placeholder="Nombre del programa">
                </div>

                <div class="form-group col-md-3 col-12">
                    <label>Proyecto</label>
                    <input formControlName="nombre_proyecto" type="text" class="form-control" placeholder="Nombre del proyecto">
                </div>
                <div class="col-md-2 col-12 p-0">
                    <div class="form-group">
                        <label>&nbsp;</label><br>
                        <button class="btn btn-info" (click)="getFichas()">
                            <i class="fa fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#ficha_registro" role="tab">Fichas en registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ficha_registrada" role="tab">Fichas registradas</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="ficha_registro" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sector</th>
                                <th>Programa</th>
                                <th>Proyecto</th>
                                <th>Monto estimado</th>
                                <th>Prioridad</th>
                                <th>Modalidad</th>
                                <th>Año de inicio</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fr of fichas_registro">
                                <td>
                                    <ng-container *ngIf="fr.sector">
                                        {{fr.sector.alias}}
                                    </ng-container>
                                </td>
                                <td>{{fr.nombre_programa}}</td>
                                <td>{{fr.nombre_proyecto}}</td>
                                <td class="text-right">{{ fr.monto_estimado | currency }}</td>
                                <td>
                                    <ng-container *ngIf="fr.prioridad">
                                        {{fr.prioridad.alias}}
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="fr.modalidad">
                                        {{fr.modalidad.alias}}
                                    </ng-container>
                                </td>
                                <td>{{fr.anio_inicio_posible}}</td>
                                <td>
                                    <button class="btn btn-outline-secondary btn-sm" routerLink="registro" [queryParams]="{id: fr._id}">
                                        <i class="fa fa-edit"></i> Editar
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="loading">
                                <td class="text-center" colspan="8">
                                    <i class="fa fa-spinner fa-pulse fa-2x"></i>
                                </td>
                            </tr>

                            <tr *ngIf="fichas_registro.length <= 0 && !loading">
                                <td colspan="8">
                                    No se encontraron fichas de registro
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>Mostrando {{fichas_registro.length}} fichas de registro</div>

                    <!-- <ngx-pagination [totalItems]="totalItems" [currentPage]="currentPage" (pageEvent)="onPaginate($event)"></ngx-pagination> -->

                </div>
            </div>
            <div class="tab-pane fade" id="ficha_registrada" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sector</th>
                                <th>Programa</th>
                                <th>Proyecto</th>
                                <th>Monto estimado</th>
                                <th>Prioridad</th>
                                <th>Modalidad</th>
                                <th>Año de inicio</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fr of fichas_registradas">
                                <td>
                                    <ng-container *ngIf="fr.sector">
                                        {{fr.sector.alias}}
                                    </ng-container>
                                </td>
                                <td>{{fr.nombre_programa}}</td>
                                <td>{{fr.nombre_proyecto}}</td>
                                <td class="text-right">{{ fr.monto_estimado | currency }}</td>
                                <td>
                                    <ng-container *ngIf="fr.prioridad">
                                        {{fr.prioridad.alias}}
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="fr.modalidad">
                                        {{fr.modalidad.alias}}
                                    </ng-container>
                                </td>
                                <td>{{fr.anio_inicio_posible}}</td>
                                <td>
                                    <span class="label label-warning label-rounded" *ngIf="fr.estado_evaluacion != 2">
                                        En evaluación
                                    </span>
                                    <span class="label label-success label-rounded" *ngIf="fr.estado_evaluacion == 2">
                                        Evaluado
                                    </span>
                                </td>
                            </tr>

                            <tr *ngIf="loading">
                                <td class="text-center" colspan="8">
                                    <i class="fa fa-spinner fa-pulse fa-2x"></i>
                                </td>
                            </tr>

                            <tr *ngIf="fichas_registradas.length <= 0 && !loading">
                                <td colspan="8">
                                    No se encontraron fichas registradas
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>Mostrando {{fichas_registradas.length}} fichas registradas</div>

                </div>
            </div>
        </div>
    </div>
</div>

<button class="right-side-toggle waves-effect waves-light btn btn-primary btn-circle btn-sm" routerLink="registro">
    <i class="fa fa-plus no-animation"></i>
</button>