<div [formGroup]="fichaForm">
    <div class="row">
        <div class="col-12 b-b">
            <h5><span>SECTOR Y JURISDICCIÓN</span></h5>
        </div>

        <div class="col-12 mt-4">
            <div class="form-group row">
                <label class="col-sm-2">Sector</label>
                <div class="col-sm-10" [class.has-danger]="invalid('sector_nivel_1')">
                    <select formControlName="sector_nivel_1" (change)="onChangeNivel1()" class="form-control">
                        <option value="">-- seleccione --</option>
                        <option *ngFor="let n1 of nivel_1" [value]="n1.nombre">{{n1.alias}}</option>
                    </select>
                    <div class="pt-1" *ngIf="invalid('sector_nivel_1')">
                        <span class="form-control-feedback">
                            <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                        </span>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="valor('sector_nivel_1') == 'PTRANSPORTE'">
                <div class="form-group row">
                    <label class="col-sm-2">Sub sector 1</label>
                    <div formArrayName="sector_nivel_2" class="col-sm-10">
                        <div *ngFor="let sn2 of sector_nivel_2.controls; let i=index" class="form-check"
                            [class.ml-4]="nivel_trans_2[i].valor_numero == 1">
                            <input [formControlName]="i" class="form-check-input" type="checkbox" [id]="'sn2_' + i">
                            <label class="form-check-label" [for]="'sn2_' + i">{{nivel_trans_2[i].alias}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="valor('sector_nivel_1') == 'PAGUA_SANEA'">
                <div class="form-group row">
                    <label class="col-sm-2">Sub sector 1</label>
                    <div formArrayName="sector_nivel_2" class="col-sm-10">
                        <div *ngFor="let na2 of sector_nivel_2.controls; let i=index" class="form-check"
                            [class.ml-4]="nivel_agua_2[i].valor_numero == 1">
                            <input [formControlName]="i" class="form-check-input" type="checkbox" [id]="'na2_' + i">
                            <label class="form-check-label" [for]="'na2_' + i">{{nivel_agua_2[i].alias}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="valor('sector_nivel_1') == 'PENERGIA'">
                <div class="form-group row">
                    <label class="col-sm-2">Sub sector 1</label>
                    <div formArrayName="sector_nivel_2" class="col-sm-10">
                        <div *ngFor="let na2 of sector_nivel_2.controls; let i=index" class="form-check"
                            [class.ml-4]="nivel_energia_2[i].valor_numero == 1" [class.ml-8]="nivel_energia_2[i].valor_numero == 2"
                            [class.ml-12]="nivel_energia_2[i].valor_numero == 3">
                            <input [formControlName]="i" class="form-check-input" type="checkbox" [id]="'ne2_' + i">
                            <label class="form-check-label" [for]="'ne2_' + i">{{nivel_energia_2[i].alias}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="valor('sector_nivel_1') == 'PTELECOMUNIC'">
                <div class="form-group row">
                    <label class="col-sm-2">Sub sector 1</label>
                    <div formArrayName="sector_nivel_2" class="col-sm-10">
                        <div *ngFor="let na2 of sector_nivel_2.controls; let i=index" class="form-check"
                            [class.ml-4]="nivel_telecom_2[i].valor_numero == 1">
                            <input [formControlName]="i" class="form-check-input" type="checkbox" [id]="'tl2_' + i">
                            <label class="form-check-label" [for]="'tl2_' + i">{{nivel_telecom_2[i].alias}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="valor('sector_nivel_1') == 'PRIEGO'">
                <div class="form-group row">
                    <label class="col-sm-2">Sub sector 1</label>
                    <div formArrayName="sector_nivel_2" class="col-sm-10">
                        <div *ngFor="let na2 of sector_nivel_2.controls; let i=index" class="form-check">
                            <input [formControlName]="i" class="form-check-input" type="checkbox" [id]="'ri2_' + i">
                            <label class="form-check-label" [for]="'ri2_' + i">{{nivel_riego_2[i].alias}}</label>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="form-group row">
                <label class="col-sm-2">Jurisdicción</label>
                <div class="col-sm-10" [class.has-danger]="invalid('jurisdiccion')">
                    <div *ngFor="let jur of jurisdiccion; let i=index" class="form-check">
                        <input formControlName="jurisdiccion" class="form-check-input" type="radio" [id]="'jur_' + i"
                            [value]="jur.nombre">
                        <label class="form-check-label" [for]="'jur_' + i">{{jur.alias}}</label>
                    </div>
                    <div class="pt-1" *ngIf="invalid('jurisdiccion')">
                        <span class="form-control-feedback">
                            <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 b-b">
            <h5><span>INFORMACIÓN BÁSICA DEL PROYECTO</span></h5>
        </div>

        <div class="col-12 mt-4">
            <div class="form-group row" *ngIf="valor('jurisdiccion') == 'JUR_OTRA'">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <textarea formControlName="jurisdiccion_otro" class="form-control" rows="3"
                        placeholder="Indique la Jurisdicción"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nombre del programa</label>
                <div class="col-sm-10">
                    <input formControlName="nombre_programa" type="text" class="form-control" placeholder="Nombre del programa">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Descripción del programa</label>
                <div class="col-sm-10">
                    <textarea formControlName="descripcion_programa" class="form-control" rows="3"
                        placeholder="Descripción del programa"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nombre del proyecto</label>
                <div class="col-sm-10" [class.has-danger]="invalid('nombre_proyecto')">
                    <input formControlName="nombre_proyecto" type="text" class="form-control" placeholder="Nombre del proyecto">
                    <div class="pt-1" *ngIf="invalid('nombre_proyecto')">
                        <span class="form-control-feedback">
                            <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Descripción del proyecto</label>
                <div class="col-sm-10">
                    <textarea formControlName="descripcion_proyecto" class="form-control" rows="3"
                        placeholder="Descripción del proyecto"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Monto estimado (US$)</label>
                <div class="col-sm-10">
                    <input formControlName="monto_estimado" type="number" class="form-control" placeholder="Monto estimado">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Prioridad del sector</label>
                <div class="col-sm-10">
                    <div *ngFor="let ps of prioridad_sector; let i=index" class="form-check">
                        <input formControlName="prioridad_sector" class="form-check-input" type="radio" [id]="'ps_' + i"
                            [value]="ps.nombre">
                        <label class="form-check-label" [for]="'ps_' + i">{{ps.alias}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Comentarios de la prioridad</label>
                <div class="col-sm-10">
                    <textarea formControlName="comentarios_prioridad_sector" class="form-control" rows="3"
                        placeholder="Comentarios de la prioridad del sector"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Modalidad contractual</label>
                <div class="col-sm-10">
                    <div *ngFor="let me of modalidad_ejecutiva; let i=index" class="form-check">
                        <input formControlName="modalidad_ejecutiva" class="form-check-input" type="radio" [id]="'me_' + i"
                            [value]="me.nombre">
                        <label class="form-check-label" [for]="'me_' + i">{{me.alias}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group row" *ngIf="valor('modalidad_ejecutiva') == 'EJECU_OTRA'">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <textarea formControlName="modalidad_ejecutiva_otra" class="form-control" rows="3"
                        placeholder="Indique la modalidad ejecutiva"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Nivel de avance</label>
                <div class="col-sm-10">
                    <div *ngFor="let na of nivel_avance; let i=index" class="form-check">
                        <input formControlName="nivel_avance" class="form-check-input" type="radio" [id]="'na_' + i"
                            [value]="na.nombre">
                        <label class="form-check-label" [for]="'na_' + i">{{na.alias}}</label>
        
                        <div *ngIf="(nivel_avance.length - 1) == i" class="pt-1 row">
                            <div class="col-sm-2 col-lg-3">
                                <input formControlName="nivel_avance_fisico" type="number" class="form-control" placeholder="% Avance físico">
                            </div>
                            <div class="col-sm-2 col-lg-3">
                                <input formControlName="nivel_avance_financiero" type="number" class="form-control" placeholder="% Avance financiero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Observaciones del avance</label>
                <div class="col-sm-10">
                    <textarea formControlName="nivel_avance_observacion" class="form-control" rows="3"
                        placeholder="Observaciones del nivel de avance"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Año de inicio de obras</label>
                <div class="col-sm-4">
                    <input formControlName="anio_inicio_posible" type="number" class="form-control"
                        placeholder="Año de inicio posible">
                </div>
                <label class="col-sm-2 col-form-label">Año de puesta en operación</label>
                <div class="col-sm-4">
                    <input formControlName="anio_puesta_operacion" type="number" class="form-control"
                        placeholder="Año de puesta en operación">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Departamento(s)</label>
                <div class="col-sm-4">
                    <select #depart formControlName="select_departamento" class="form-control"
                        (change)="changeDepartamento(depart.value)">
                        <option value="">-- seleccione --</option>
                        <option *ngFor="let dep of departamento; let i=index" [value]="i">{{dep.alias}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" *ngIf="departamentos.length > 0">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <ng-container *ngFor="let dep of departamentos.value; let i=index">
                        <span class="label label-info label-rounded mr-1">
                            {{dep.alias}} <i class="fa fa-times" (click)="removeDepart(i)"></i>
                        </span>
                    </ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Localización del proyecto</label>
                <div class="col-sm-10">
                    <app-mapa-upload #mapaUpload mapaId='mapLocalizacion' [data]="dataMapa"></app-mapa-upload>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Area de Influencia</label>
                <div class="col-sm-10">
                    <app-mapa-upload-2 #mapaInfluencia mapaId='mapAreaInfluencia'></app-mapa-upload-2>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Archivos adicionales</label>
                <div class="col-sm-10">
                    <div class="form-group mb-0">
                        <div class="input-group-btn">
                            <input #file type="file" class="form-control form-control-sm" ng2FileSelect [uploader]="uploader">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" (click)="uploader.uploadAll()"
                                    [disabled]="!uploader.getNotUploadedItems().length">Subir archivo</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Comentarios</label>
                <div class="col-sm-10">
                    <textarea formControlName="comentarios" class="form-control" rows="4" placeholder="Comentarios"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>