<div class="card">
  
  <div class="card-body">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                <th>Nombre</th>
                <th>Sector</th>
                <th>Modalidad contractual</th>
                <th>Avance</th>
                <th>Priorización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let it of data">
                <td> {{ it.nombre_proyecto }} 
                    <span class="badge badge-primary m-r-5" *ngIf="it.archivo_adicional!=''" >Archivo</span>
                    <span class="badge badge-success m-r-5" *ngIf="isArchivo(it.localizacion_latitud)" >Ubicación</span></td>
                <td> {{ it.sector.alias }} </td>
                <td> {{ it.modalidad != undefined ? it.modalidad.alias : '' }} </td>
                <td> {{ evaluarAvance(it.nivel_avance) }} </td>
                <td>
                  <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary disabled">Pri.</button>
                    <button type="button" class="btn btn-info">No pri.</button>
                  </div>
                </td>
              </tr>
          </tbody>
      </table>
  </div>

</div>