<div class="card">
    <div class="card-body collapse show">
        <ficha-informacion [fichaForm]="fichaForm"></ficha-informacion>
        <ficha-verificacion [registradaForm]="registradaForm"></ficha-verificacion>
    </div>
</div>

<button class="right-side-toggle waves-effect waves-light btn btn-success btn-circle btn-sm mr-5" (click)="procesar()"
    [disabled]="processing" *ngIf="registada('estado_evaluacion') == 1">
    <i class="fa no-animation" [ngClass]="{'fa-check': !processing, 'fa-spinner fa-pulse': processing}"></i>
</button>

<button class="right-side-toggle waves-effect waves-light btn btn-primary btn-circle btn-sm" (click)="guardar()"
    [disabled]="saving" *ngIf="registada('estado_evaluacion') != 2">
    <i class="fa no-animation" [ngClass]="{'fa-save': !saving, 'fa-spinner fa-pulse': saving}"></i>
</button>