<div class="card b-all">
    <div class="card-body bg-white p-0 ml-3 mr-3">
        <div class="row b-b">
            <div class="col-md-3 col-lg-4 col-12 p-3">
                <h3 class="mb-0">Proyectos</h3>
            </div>
            <div class="col-md-3 col-lg-2 col-12 mt-md-0 b-l p-3">
                <h5>{{ pyTotal }} <small>PROYECTOS</small></h5>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-2 mt-md-0 b-l p-3">
                <h5>{{ pyRegistrados }} Registrados<span class="pull-right"> {{pyRegistradosP}} </span></h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': pyRegistradosP, 'height': '6px'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-2  mt-md-0 b-l p-3">
                <h5>{{ pyEvaluados }} Evaluados<span class="pull-right">{{pyEvaluadosP}}</span></h5>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': pyEvaluadosP, 'height': '6px'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-4 col-12 p-3">
                <h3 class="mb-0">Políticas sectoriales</h3>
            </div>
            <div class="col-md-9 col-lg-8 col-12 mt-md-0 b-l p-3">
                <div class="row">
                    <div class="col-md-2 col-3 p-0 text-center">
                        <span class="mr-2"> 15 Abr</span>
                        <i class="mdi mdi-brightness-1 text-danger"></i> <br>
                        <small><strong> Preliminar</strong></small>
                    </div>
                    <div class="col-2 col-md-3 p-0">
                        <hr>
                    </div>
                    <div class="col-md-2 col-2 p-0 text-center">
                        <span class="mr-2"> 14 Jun</span>
                        <i class="mdi mdi-brightness-1 text-danger"></i> <br>
                        <small><strong> Ajust. sector</strong></small>
                    </div>
                    <div class="col-2 col-md-3 p-0">
                        <hr>
                    </div>
                    <div class="col-md-2 col-3 p-0 text-center">
                        <span class="mr-2"> 21 Jun</span>
                        <i class="mdi mdi-brightness-1 text-danger"></i> <br>
                        <small><strong> Final</strong></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card b-all">
    <div class="card-body">
        <div class="row">
            <ng-container *ngIf="have('PTRANSPORTE')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Transporte" sector="PTRANSPORTE" (sumary)="summary($event)"></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PAGUA_SANEA')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Agua y Saneamiento Urbano" sector="PAGUA_SANEA" (sumary)="summary($event)" [estados]="['text-warning', 'text-danger', 'text-danger']"></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PENERGIA')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Energía" sector="PENERGIA" (sumary)="summary($event)" [estados]="['text-warning', 'text-danger', 'text-danger']"></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PTELECOMUNIC')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Telecomunicaciones" sector="PTELECOMUNIC" (sumary)="summary($event)" [estados]="['text-success', 'text-danger', 'text-danger']"></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PRIEGO')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Riego" sector="PRIEGO" (sumary)="summary($event)"></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PSALUD')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Salud" sector="PSALUD" (sumary)="summary($event)"></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PEDUCACION')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Educación" sector="PEDUCACION" (sumary)="summary($event)"></app-detalle-py>
                </div>
            </ng-container>

        </div>
    </div>
</div>