<div class="card b-all">
    <div class="card-body bg-white p-0 ml-3 mr-3">
        <div class="row b-b">
            <div class="col-md-3 col-lg-4 col-12 p-3">
                <h3 class="mb-0">Proyectos</h3>
            </div>
            <div class="col-md-3 col-lg-2 col-12 mt-md-0 b-l p-3">
                <h5>0 <small>PROYECTOS</small></h5>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-2 mt-md-0 b-l p-3">
                <h5>0 Registrados<span class="pull-right">0%</span></h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-2  mt-md-0 b-l p-3">
                <h5>0 Evaluados<span class="pull-right">0%</span></h5>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 0%; height: 6px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-4 col-12 p-3">
                <h3 class="mb-0">Políticas sectoriales</h3>
            </div>
            <div class="col-md-9 col-lg-8 col-12 mt-md-0 b-l p-3">
                <div class="row">
                    <div class="col-md-2 col-3 p-0 text-center">
                        <span class="mr-2"> 18 Mar</span>
                        <i class="mdi mdi-brightness-1 text-danger"></i>
                        <small><strong> Preliminar</strong></small>
                    </div>
                    <div class="col-2 col-md-3 p-0">
                        <hr>
                    </div>
                    <div class="col-md-2 col-2 p-0 text-center">
                        <span class="mr-2"> 08 Abr</span>
                        <i class="mdi mdi-brightness-1 text-danger"></i>
                        <small><strong> Ajust. sector</strong></small>
                    </div>
                    <div class="col-2 col-md-3 p-0">
                        <hr>
                    </div>
                    <div class="col-md-2 col-3 p-0 text-center">
                        <span class="mr-2"> 29 Abr</span>
                        <i class="mdi mdi-brightness-1 text-danger"></i>
                        <small><strong> Final</strong></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card b-all">
    <div class="card-body">
        <div class="row">
            <ng-container *ngIf="have('PTRASNPORTE')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Transporte" proyectos='0' recibidos='0' evaluados='0'></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PAGUA_SANEA')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Agua y Saneamiento Urbano" proyectos='0' recibidos='0' evaluados='0'></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PENERGIA')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Energía" proyectos='0' recibidos='0' evaluados='0'></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PTELECOMUNIC')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Telecomunicaciones" proyectos='0' recibidos='0' evaluados='0'> </app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PRIEGO')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Riego" proyectos='0' recibidos='0' evaluados='19'></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PSALUD')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Salud" proyectos='0' recibidos='0' evaluados='0'></app-detalle-py>
                </div>
            </ng-container>

            <ng-container *ngIf="have('PEDUCACION')">
                <div class="col-12 col-sm-3 col-md-4 col-lg-3">
                    <app-detalle-py titulo="Educación" proyectos='0' recibidos='0' evaluados='0'></app-detalle-py>
                </div>
            </ng-container>

        </div>
    </div>
</div>